#UVRed {
    background-color: red;
}

#UVOrange {
    background-color: orange;
}

#UVYellow {
    background-color: yellow;
}

#UVGreen {
    background-color: green;
}

#UVText {
    color: white;
    padding: 0px 10px;
}